/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

/*#rootLayout {
    -fx-background-color: #587aff;
}*/

/*菜单栏 */
.menu-bar {
    -fx-padding: 5 5;
    -fx-background-color: #AEDEFC;
}

.menu {
    -fx-padding: 3;
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-opacity: 0.9;
    /*-fx-font-weight: bold;*/
    -fx-min-width: 50px;
    -fx-alignment: center;
    /*-fx-border-radius: 50px;*/
}

.menu:hover {
    -fx-background-color: #7743DB;
    -fx-padding: 3 3;
    /*-fx-border-radius: 50px;*/
}

.menu-item:hover {
    -fx-background-color: #7743DB;
}

/*菜单下拉栏 */
.context-menu {
    -fx-border-style: solid;
}

.menultem:hover {
    -fx-border-style: solid;
}

.label {
    -fx-cursor: hand;
    -fx-font-size: 18px; /* 设置文本的字体大小 */
    /*-fx-background-color: #587aff;*/
}

